/*********** HELPER ************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family:'Open Sans', sans-serif;
}

p{
    line-height: 1.3;
}

h2{
    font-size: 2.5em;
    margin-bottom: 2em;
}

.bckLightblue{background-color: #b4d0e7;}

/*********** BORDER PROPERTIES ************/

.borderB{border: 1px solid black;}
.borderW{border: 1px solid white;}
.borderR{border: 1px solid red;}
.radius{border-radius: 5px;}

/***************** WIDTH *******************/

.w100{width: 100%;}

/****************** FLEX *******************/

.flex{display: flex;}
.flexColumn{display: flex; flex-direction: column;}
.spaceBtw{justify-content: space-between;}
.justifyEnd{justify-content: flex-end;}
.justifyCenter{justify-content: center;}
.alignCenter{align-items: center;}
.alignStart{align-items: flex-start;}
.alignEnd{align-items: flex-end;}

/*********** HELPER END ************/

header{
    padding: 1em 0;
}

.navSx{
    width: 50%;
    padding-left: 1em;
    font-size: 14px;
}

.navSx div a{
    margin-left: 2.5em;
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.navDx{
    width: 50%;
    padding-right: 1em;
    font-size: 14px;
}

.navDx div a {
    margin-left: 2.5em;
    text-decoration: none;
}

.blueBtn{
    background-color: #0061ff;
    color: white;
    border: 0;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 12px;
}

/********************** MAIN *************************/


/******* SECTION 1 *******/

.customContainer{
    max-height: calc(100vw / 2.6);
    display: inline-block;
    color: rgb(53, 53, 53);
}

.container{
        display: inline-block;
        color: rgb(53, 53, 53);
    }

.bigBoxed{
    width: 65vw;
    margin: 3em auto;
    padding-top: 1.5em;
}

.boxedTitle > h1{
    font-size: 50px;
    font-weight: 900;
}

.boxedContent{
    margin-top: 2em;
}

.boxedleft{
    width: 33%;
    font-size: 14px;
    color: rgb(53, 53, 53);
}

.boxedleft div a{
}

.blueBtn{
    margin: 2em 0;
    padding: 0.6em 1em;
    font-size: 12px;
    background-color: #0061ff;
    color: white;
    cursor: pointer;
}

.boxedleft i{
    font-size: 40px;
    margin-top: 20%;
    color: rgb(53, 53, 53);
}

.boxedRight{
    width: 66%;
}

.boxedRight > img{
    width: 115%;
    margin-left: -10px;
}

/******* SECTION 2 *******/

.smallBoxed{
    width: 54%;
    margin: 120px auto 0;
}


div input:nth-child(2){
    margin-left: 6%;
}

div input{
    margin-right: 5px;
    margin-bottom: 3em;
}

.columnContainer{
    width: 100%;
}

.businessColumn{
width: calc(100% / 3 - 25px);
border: 1px solid gainsboro;
padding-right: 1em;
}

.customer{
    text-align: center;
    padding: 0.7em 0;
    border-bottom: 1px solid gainsboro;   
}

.businessDescription{
    padding: 2em 1.2em;
}

.businessDescription h3{
    font-size: 19px;
}

.businessDescription a , div{
    font-size: 12px;

}

.businessDescription span{
    padding-bottom: 0.5em;
    display: block;
}

.businessDescription .paymentPeriod{
  color: rgb(114, 113, 113);
  margin-bottom: 2em;
}

.businessDescription i{ 
    margin-right: 10px;
}

.businessInfo{
    margin-bottom: 1em;
    font-size: 12px;
}

.fa-check{
    color:#0061ff;
    font-weight: bolder;
}

.businessInfo div > a{
    font-size: 12px;
    margin-bottom: 1em;
    color:#0061ff;
}

 .blueBtn{
    margin: 2em 0 2em 0.3em;
    font-size: 12px;
    padding: 0.7em 1.8em ;
    border: 0;
    color: white
}

.customBlueBtn{
    width: 100%;
    margin: 2em 0 2em 0.3em;
    font-size: 12px;
    padding: 0.7em 1.8em ;
    background-color: #0061ff;
    border: 0;
    color: white;
}

#noMarginBtn{
    width: 100%;
    margin:0 0.3em;
    font-size: 12px;
    padding: 0.7em 1.8em ;
    background-color: #0061ff;
    border: 0;
    color: white;
}

.shortLine{
    width: 20%;
    height: 0.5px;
    border-bottom: 1px solid gainsboro; 
    margin: 2em 0;
}

.businessDescription p:nth-child(4){
    font-weight: 900;
}

.includedFeature{
    margin-bottom: 2em;
    font-weight: 600;
}

/******** WIDE SECTION ********/


.wide{
    width: 100%;
    height: 200px;
    border: 1px solid gainsboro;
    margin-top: 3em;
    text-align: center;
}

.wide > div:first-child{
    color: rgb(48, 47, 47);
    border-bottom: 1px solid gainsboro;
    padding: 0.5em;
}

.wide .flex{
    padding: 2em;
}

.wide h3{
    font-size: 19px;
}

.wide span{
    font-weight: 200;
    margin-bottom: 3em;
}

.wideParagraph{
}

/* DEVI AGGIUSTARE IL FONT WEIGHT */

