/*********** HELPER ************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

/*********** BORDER PROPERTIES ************/

.borderB{border: 1px solid black;}
.borderW{border: 1px solid white;}
.borderR{border: 1px solid red;}
.radius{border-radius: 5px;}

/***************** WIDTH *******************/

.w100{width: 100%;}

/****************** FLEX *******************/

.flex{display: flex;}
.flexColumn{display: flex; flex-direction: column;}
.spaceBtw{justify-content: space-between;}
.spaceAround{justify-content: space-around;}
.justifyEnd{justify-content: flex-end;}
.justifyCenter{justify-content: center;}
.alignCenter{align-items: center;}
.alignStart{align-items: flex-start;}
.alignEnd{align-items: flex-end;}

/*********** HELPER END ************/

header{
    width: 100%;
    padding: 1em 0;
}

.navSx{
    width: 50%;
    padding-left: 1em;
    font-size: 14px;
}

.navSx div a{
    margin-left: 2.5em;
    text-decoration: none;
    color: black;
}

.navDx{
    width: 50%;
    padding-right: 1em;
    font-size: 14px;
}

.navDx div a .blueBtn{
    padding: 0.5em 1.2em;
}

.navDx div a {
    margin-left: 2.5em;
    text-decoration: none;
    color: black;
}

.blueBtn{
    background-color: #0061ff;
    color: white;
    border: 0;
}

/********************** MAIN *************************/

/******* SECTION 1 *******/

.container{
    width: 100vw;
    height: calc(100vw / 2.6);
    background-color: #b4d0e7;
    display: inline-block;
}

.boxed{
    width: 65vw;
    min-height: 500px;
    margin: 3em auto;
}
